body{
    font-family:Arial;
    background:#f4f6f8;
}

.header{
    background:#003366;
    color:white;
    padding:15px;
    text-align:center;
}

.container{
    display:flex;
    justify-content:center;
    margin-top:50px;
}

.card{
    background:white;
    padding:30px;
    width:350px;
    border-radius:10px;
    box-shadow:0 0 10px #ccc;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

.btn{
    width:100%;
    padding:10px;
    background:#003366;
    color:white;
    border:none;
    cursor:pointer;
}